:root {
    font-family: Roboto, Inter, system-ui, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    padding: 0 20px 0 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 10px;
}